body {
  background-color: #6ab3b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 0.1px #5e8079;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 10s ease-in forwards infinite;
          animation: cube 10s ease-in forwards infinite;
  z-index: -1;
}

.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 25vw;
  top: 20vh;
}

.cube:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  left: 35vw;
  top: 29vh;
}

.cube:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 45vw;
  top: 36vh;
}

.cube:nth-child(5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  left: 55vw;
  top: 33vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 65vw;
  top: 2vh;
}

.cube:nth-child(7) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  left: 75vw;
  top: 20vh;
}

.cube:nth-child(8) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 85vw;
  top: 14vh;
}

.cube:nth-child(9) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  left: 95vw;
  top: 40vh;
}

.cube:nth-child(10) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 105vw;
  top: 12vh;
}

.cube:nth-child(2n) {
  border-color: #d4cdc1;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.head {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 10em;
  color: rgba(1, 1, 1, 0.5);
  margin: 0.5em 0px;
  padding: 0.5em 1em;
}

a {
  text-decoration: none;
  margin-bottom: 20px;
}

a {
  display: block;
  width: 20em;
  padding: 0.4em 0;
  margin-bottom: 1em;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#00B4D8), color-stop(50%, #03045e), color-stop(50%, #000000), to(#000000));
  background-image: linear-gradient(to right, #00B4D8 0%, #03045e 50%, #000000 50%, #000000 100%);
  -webkit-transition: background-position ease 0.4s;
  transition: background-position ease 0.4s;
  text-align: center;
  color: #E0E0E0;
  text-decoration: none;
  font-weight: bold;
  font-size: 3em;
}

a:hover {
  background-position: 0 0;
}

.animate-title {
  color: #E6E6E6;
  opacity: 0;
  font-size: 11vh;
}

.animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char {
  display: inline-block;
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-shadow: 0 0 0px black;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-shadow: 5px 5px 30px black;
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-shadow: 0 0 0px black;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-shadow: 5px 5px 30px black;
  }
}
/*# sourceMappingURL=start_base.css.map */